/* Global Styling */
/* #region Main */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(192, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    width: fit-content;
    margin: 20px;
    border: 1px solid rgb(0, 255, 76);
}

.card {
    border-radius: 20px;
    display: grid;
    grid-template-rows: 20% 30% 40%;
    align-content: center;
    gap: 2px;
}

.profile, .quote-summary, .full-quote {
    border: 1px solid rgb(243, 3, 243);
    height: 90%;
    margin: 5px;
}
/* #endregion */

/* Left Container Styling */
/* #region Main */
.left-container {
    height: 100%;
}

.top-row {
    display: grid;
    grid-template-columns: 300px 150px;
    gap: 20px
}

.bottom-row {
    display: grid;
    grid-template-columns: 150px 300px;
    gap: 20px;
}

#column-1-top {
    border: 1px solid black;
    margin-bottom: 20px;
    height: 25vh;
    background-color: hsl(263, 55%, 52%);
}
#column-2-top {
    border: 1px solid black;
    margin-bottom: 20px;
    height: 25vh;
    background-color: hsl(217, 42%, 49%);
}

#column-1-bottom {
    border: 1px solid black;
    height: 25vh;
    background-color: white;
}

#column-2-bottom {
    border: 1px solid black;
    height: 25vh;
    background-color: hsl(219, 29%, 14%);
}
/* #endregion */

/* Right Container */
/* #region Main */

#right-container {
    border: 1px solid rgb(250, 5, 5);
    margin-left: 20px;
    border-radius: 25px;
    background-color: white;
    width: 175px;
}

/* #endregion */





/* #region Main */
/* #endregion */
